.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center; /* To center item horizontally */
  align-items: center; /* To center item vertically */
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: none;
  font-size: 24px;
  color: #2121214d;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
}

.modal-close:hover {
  color: #333;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid #2121214d;
  border-radius: 8px;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 18px 32px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  gap: 8px;
}

.modal__submit-btn:hover {
  background-color: #333;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 10px;
  }
}
